.container{
	width: 300px;
	height: 800px;
	background-color: gainsboro;
	margin: 100px;
}
.box{
	width: 100px;
	height: 100px;
}
.red{
	background-color: red;
	position: relative;
	top: 100px;
	left: 100px;
}
.green{
	background-color: green;
	position: absolute;
	left: 500px;
	bottom: 50px;
}
.blue{
	background-color: blue;
	position: fixed;
	left: 500px;
	bottom: 20px;
}
.purple{
	background-color: purple;
	position: sticky;
	top: 100px;
}
.space{
	height: 100vh;
}